<button class="btn btn-primary" (click)="submit()">submit</button>
<div class="card mb-3" style="max-width: 300px;" *ngFor="let obj of cardDataList">
  <div class="row g-0">
    <div class="col">
      <h1>UserProfile</h1>
      <app-image [imageURL]="obj.profilePicPath"></app-image>
    </div>
    <div class="col">
      <div class="card-body">
        <h5>Name:{{obj.name}}</h5>
        <h5>Email:{{obj.email}}</h5>
        <h5>Department:{{obj.department}}</h5>
        <h5>Experience:{{obj.experience}}</h5>
        <h5>Qualification:{{obj.qualification}}</h5>
      </div>
    </div>
  </div>
</div>

