<form id="" action="" method="get" class="form mr-3" >
				
    <div class="form-group">		
      
      <label class="form-label">DB Type</label>
      <input id="dbtype" class="form-control" type="text">

    </div>
    <div class="form-group">	
      <label class="form-label">URL</label>
      <input id="url" class="form-control" type="text">
    </div>
    <div class="form-group">
      
      <label class="form-label">Port Number</label>
      <input id="pn" class="form-control" type="text">
    </div>
    <div class="form-group">
      
      <label class="form-label">User Name</label>
      <input id="un" class="form-control" type="text">
    </div>
    <div class="form-group">
      
      <label class="form-label">PassWord</label>
      <input id="ps" class="form-control" type="password">	
    </div>

  </form>
