<form class="form-row row" #userForm=ngForm (ngSubmit)="submitUserForm(userForm)">
    <div class="col-6 mt-3">
    <input type="text" class="form-control" placeholder="Name" name="name" ngModel #name="ngModel" (change)="sendFormControl(name)" 
    required="true" minlength="5" pattern="[a-zA-Z]{1,}" (mouseenter)="sendFormControl(name)">
    </div>
    <div class="alert" role="alert" *ngIf="name.touched && name.invalid">
     <span *ngIf="name.errors && name.errors['required']">*Required name</span>
     <span *ngIf="name.errors && name.errors['minlength']">*minimum 5 characters is required</span><br>
     <span *ngIf="name.errors && name.errors['pattern']">*only characters need to entered</span>
    </div>
    <div class="col-6 mt-3">
    <input type="email" class="form-control" placeholder="Email" name="email" ngModel #email="ngModel">
    </div>
    <div class="col-6 mt-3">
    <input type="tel" class="form-control" placeholder="contact" name="mobileNumber" ngModel #mobileNumber="ngModel">
    </div>
    <div class="col-6 mt-3">
    <input type="password" class="form-control" placeholder="password" name="password" ngModel #password="ngModel">
    </div>
    <div class="col-6 mt-3">
    <select class="form-control" name="country" ngModel #country="ngModel">
        <option value="">---select country---</option>
        <option value="">India</option>
        <option value="">America</option>
        <option value="">pattanam</option>
        <option value="">dharmapuri</option>
    </select>
    </div>
    <div>
    <button class="btn btn-primary">save</button>
    </div>
</form>
